@charset "UTF-8";

body {
  font-size: 15px;
  font-family: Georgia, 游明朝, YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: #444444;
}

ul {
  list-style: none;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-left h1 {
  font-weight: bold;
}

.menu-icons {
  margin-left: 10px;
}

.header-nav {
  display: flex;
}

.header-nav li {
  padding: 0 15px;
  position: relative;
  font-size: 16px;
}

.header-nav li ul {
  position: absolute;
  top: 45px;
  left: -5px;
  height: 0;
}

.header-nav li a {
  display: block;
  padding-bottom: 14px;
}

.header-nav li a:hover {
  color: #c49029;
}

.header-nav li ul {
  visibility: hidden;
}

.header-nav li li {
  width: 200px;
  border: solid 1px #f0f0f0;
  padding: 10px 20px 0 20px;
  box-shadow: 0.5px;
  background-color: #fff;
  opacity: 0;
  transition: all 0.3s;
}

.header-nav li:hover ul li {
  visibility: visible;
  opacity: 1;
}

.search-wrapper {
  height: 40px;
  display: inline-block;
  position: relative;
}

.search {
  width: 0;
  height: 40px;
  background: url(tools/images/icons8-検索-50.png) left center no-repeat;
  background-size: 26px 26px;
  padding-left: 30px;
  font-size: 16px;
  border: none;
  position: absolute;
  right: 0;
  cursor: pointer;
  transition: 0.5s;
}

.search:focus {
  width: 220px;
  height: 35px;
  border: 1px solid #e0e0e0;
  cursor: text;
  background-color: #fff;
}

.main-picture {
  background-image: url(tools/images/cropped-nicole-honeywill-730102-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.top-wrapper p {
  color: #777;
}

.main-wrapper {
  border-bottom: solid 1px #ccc;
}

.main-list li {
  margin-bottom: 60px;
}

.list-date a {
  color: #777;
  font-size: 17px;
  opacity: 0.5;
}

.list-date a:hover {
  opacity: 1;
}

.list-text h2 {
  font-weight: bolder;
  color: #111;
  margin-bottom: 15px;
  font-size: 22.4px;
}

.list-text a:hover {
  color: #c49029;
}

.list-text p {
  font-size: 17px;
}

.page-list {
  display: flex;
  padding-bottom: 100px;
}

.page-list li {
  font-size: 16px;
  color: #777;
  border: solid 1px #ccc;
  padding: 8px 18px;
  margin-left: 6px;
  opacity: 0.5;
}

.page-list li:hover {
  opacity: 1;
}

.page-list .this {
  color: #333;
  background-color: #eeeeee;
  opacity: 1;
}

.profile-wrapper {
  border-bottom: solid 1px #ccc;
  padding-bottom: 100px;
}

.profile-picture {
  background-image: url(tools/images/profile-m.png);
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
}

.profile {
  width: 350px;
}

.profile-name {
  padding: 20px;
  display: inline-block;
}

.profile-name h3 {
  font-size: 20px;
  font-weight: bold;
}

.profile-introduction {
  display: inline-block;
  width: 260px;
  padding-top: 20px;
  font-size: 16px;
  color: #444;
}

.icons {
  width: 20px;
  height: auto;
}

.profile-name a {
  opacity: 0.7;
  transition: 0.5s;
  padding: 4px;
}

.profile-name a:hover {
  opacity: 1;
}

.sub-title {
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.sub-profile p {
  color: #777;
  font-size: 16px;
}

.sub-profile a {
  text-decoration: underline;
  color: rgb(119, 119, 119);
  font-size: 17px;
}

.sub-profile a:hover {
  color: #c49029;
}

.sub-profile li {
  padding-bottom: 15px;
}

.sub-input {
  width: 200px;
  padding: 10px;
  margin-top: 60px;
  border: 1px solid #e0e0e0;
}

::placeholder {
  color: #777;
  font-size: 16px;
}

footer {
  height: 180px;
}

.footer-icons a {
  opacity: 0.7;
  transition: 0.5s;
  padding: 4px;
}

.footer-icons a:hover {
  opacity: 1;
}

.copyright p {
  color: #777;
}

.copyright {
  margin: 0 auto;
}
